.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* VARIABLES */
:root {
    --font-color-white: hsl(0, 0%, 100%);
    --font-color-black: hsl(0, 0%, 0%);
    --body-bg: hsl(0, 0%, 8%);
    --container-bg: hsl(0, 0%, 12%);
    --button-bg: hsl(0, 0%, 20%);
    --color-green: hsl(75, 94%, 57%);

    --font-family: "Inter", sans-serif;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-size: 14px;
    --heading: 1.75rem;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

img {
    width: 5rem;
    color: var(--font-color-white);
    font-style: italic;
    border-radius: 50%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color-white);
    background-color: var(--body-bg);
}

/* LAYOUT */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-weight: var(--font-weight-500);
    font-size: var(--heading);
    margin-bottom: .5rem;
}

.container {
    background-color: var(--container-bg);
    width: 25em;
    padding: 24px;
    border-radius: 10px;
}

/* STYLES */
.button {
    background-color: var(--button-bg);
    display: block;
    width: 100%;
    text-align: center;
    color: var(--font-color-white);
    text-decoration: none;
    padding: .7rem;
    border-radius: 8px;
    margin-top: .75rem;
}

.button:hover {
    background-color: var(--color-green);
    color: var(--font-color-black);
    transition: all 0.3s ease-in-out;
}

.profile-picture {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.username {
    text-align: center;
    font-size: var(--heading);
}

.user-location {
    text-align: center;
    color: var(--color-green);
    font-weight: var(--font-weight-800);
    margin-bottom: 1.25rem;
}

.user-description {
    text-align: center;
    margin-bottom: 1.25rem;
}

.social-buttons {
    margin-bottom: 1rem;
}