.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* VARIABLES */
:root {
    --font-color-white: hsl(0, 0%, 100%);
    --font-color-black: hsl(0, 0%, 0%);
    --body-bg: hsl(0, 0%, 8%);
    --container-bg: hsl(0, 0%, 12%);
    --button-bg: hsl(0, 0%, 20%);
    --color-green: hsl(75, 94%, 57%);

    --font-family: "Inter", sans-serif;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-size: 14px;
    --heading: 1.75rem;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color-white);
    background-color: var(--body-bg);
}

img {
    max-width: 100%;
    color: var(--color-green);
    font-style: italic;
}

ul li {
    list-style: none;
}

.attribution a {
    color: var(--color-green);
}

/* LAYOUT / STYLES */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--container-bg);
    width: 25em;
    padding: 25px;
    border-radius: 10px;
}

.profile-picture {
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.username {
    text-align: center;
    font-size: var(--heading);
    font-weight: var(--font-weight-600);
    margin-top: 18px;
}

.user-location {
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-green);
    margin-top: 5px;
}

.user-description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-buttons {
    text-align: center;
}

.button {
    background-color: var(--button-bg);
    color: var(--font-color-white);
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.button{
    margin-bottom: 10px;
}

.button:hover {
    background-color: var(--color-green);
    color: var(--font-color-black);
}