.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* VARIABLES */
:root {
    --font-color-white: hsl(0, 0%, 100%);
    --font-color-black: hsl(0, 0%, 0%);
    --body-bg: hsl(0, 0%, 8%);
    --container-bg: hsl(0, 0%, 12%);
    --button-bg: hsl(0, 0%, 20%);
    --color-green: hsl(75, 94%, 57%);

    --font-family: "Inter", sans-serif;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-size: 14px;
    --heading: 1.75rem;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Ensures border and padding is included in width*/
}

body {
    background-color: var(--body-bg);
    font-family: var(--font-family);
    color: var(--font-color-white); 
}

img {
    color: var(--color-green);
    font-style: italic;
}

h1 {
    font-size: var(--heading);
    line-height: 1.75rem;
}

ul li {
    list-style-type: none;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* STYLES / LAYOUT */

.container {
    background-color: var(--container-bg);
    width: 23rem;
    padding: 20px;
    border-radius: 10px;
}

.profile-picture {
    width: 6rem;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1.25rem;
}

.username {
    text-align: center;
    margin-bottom: .50rem;
    font-weight: var(--font-weight-500);
}

.user-location {
    text-align: center;
    color: var(--color-green);
    font-weight: var(--font-weight-500);
    margin-bottom: 1.25rem;
}

.user-description {
    text-align: center;
    margin-bottom: 1.25rem;
}

.button {
    color: var(--font-color-white);
    text-decoration: none;
    background-color: var(--button-bg);
    display: block;
    padding: 10px;
    margin-bottom: .75rem;
    border-radius: 5px;
    
}

.button:hover {
    background-color: var(--color-green);
    color: var(--font-color-black);
}

.attribution a {
    color: var(--color-green);
}

footer {
    margin-bottom: 2rem;
}